<nav class="navbar fixed-top navbar-expand-lg assign-nav-bar">
    <a class="navbar-brand" href="#">
        <img src="../../assets/image/logo.png" alt="logo image" class="img-fluid" width="50px" height="50px">
    </a>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 assign-nav-bar-ul">
        <li class="nav-item mr-4">
            <a class="nav-link text-dark assign-nav-links" href="#">Product </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark assign-nav-links" href="#">Solution</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark assign-nav-links" href="#">Pricing</a>
        </li>
        <li class="nav-item">
            <button class="btn btn-outline-primary assign-login-btn">Login</button>
        </li>
        <li class="nav-item">
            <button class="btn btn-primary assign-get-started-btn">Get started</button>
        </li>
    </ul>
</nav>